* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: lightgrey;
}

.navBar {
  position: absolute;
  z-index: 2;
  padding: 0% 15px;
  top: 0%;
  right: 0%;
  left: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: whitesmoke;
}

.navBar a {
  padding: 5px;
  margin: 0% 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.navBar a:hover {
  color: inherit;
  font-size: 25px;
}

.cart .fas fa-shopping-cart {
  font-size: 20px;
  padding-right: 5px;
  align-content: center;
  vertical-align: bottom;
}
.navBar a span {
  padding-left: 5px;
}

.navBar .icon {
  display: none;
}
.carousel-control-next {
  z-index: 1;
}

.flex1,
.flex2 {
  display: flex;
  justify-content: space-between;
  margin: 0%;
  padding: 0%;
  height: 500px;
}
.flex1 video,
.flex2 img {
  width: 50%;
}
h5 {
  width: 50%;
  padding: 30px;
  padding-top: 100px;
  margin: 0%;
  background-color: whitesmoke;
  line-height: 1.5;
}

h5 button {
  display: flex;
  align-content: center;
  margin: 40px auto;
  text-decoration: none;
  background-color: gray;
  border: none;
  padding: 10px;
}

button a {
  color: whitesmoke;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}

h1 {
  text-align: center;
  margin: 50px auto;
}

.last-product {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}
article {
  position: relative;
  overflow: hidden;
  margin: 20px 0%;
}
article img {
  width: 270px;
  height: 200px;
}

article p,
h4 {
  text-align: center;
  margin: 0%;
  margin-top: 5px;
  color: black;
}
.view-product {
  position: absolute;
  width: 100%;
  background-color: darkgray;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}

article:hover .cart1,
article:hover .cart2,
article:hover .cart3,
article:hover .cart4,
article:hover .cart5,
article:hover .cart6,
article:hover .cart7,
article:hover .cart8,
article:hover .cart9,
article:hover .cart10 {
  bottom: 60px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.instagram {
  display: flex;
  justify-content: space-around;
  margin: 150px 0%;
  position: relative;
}

.instagram img {
  width: 280px;
  height: 220px;
}

.btn-instagram {
  font-size: 30px;
  padding: 5px;
  background-color: black;
  border: 4px solid whitesmoke;
  position: absolute;
  top: 100px;
  text-align: center;
  color: whitesmoke;
}

a:hover {
  text-decoration: none;
  color: whitesmoke;
}

/* css products */
.block-product {
  margin: 40px;
  display: grid;
  grid-template-columns: 60% 40%;
}

.img-products img {
  width: 90%;
  height: auto;
  margin: 5px 0%;
}

.description-products p {
  font-size: 18px;
  line-height: 30px;
}

.add-cart {
  width: 80%;
  margin: 40px ;
  padding: 0% 30px;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.add-cart button {
  width: 30px;
  height: 30px;
  margin: 0% 10px;
  align-self: center;
  text-align: center;
  font-size: 15px;
}

.add-cart p {
  margin-left: 150px;
  margin: auto 0 auto 150px;
  border: 5px solid black;
  background-color: white;
  font-weight: bold;
  height: auto;
  width: 200px;
  text-align: center;
}

.order{
  text-align: center;
  width: 100%;
  font-size: 30px;
}

.order button {
  padding: 10px;
  background-color: rgb(250, 162, 90);
  color: white;
  font-weight: bold;
}

/* css form*/
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

form {
  margin: 80px auto 150px auto;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
}

/* footer */

footer {
  background-color: white;
  height: 400px;
  width: 100%;
}
.footer {
  margin: 0% auto;
  width: 50%;
}

.footer img {
  width: 150px;
  height: 120px;
  margin: 100px auto;
}

.footer p {
  text-align: center;
  font-size: 16px;
}
